workflows/ai-digest.json
{
  "name": "AI-Digest",
  "nodes": [
    {
      "parameters": {
        "numberInputs": 5
      },
      "id": "fdbd26a3-c6fb-4dab-b97a-c0b66f8d6caa",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        240,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst headlines = items.map((item,i)=>` ${i+1}. [${item.json.title}](${item.json.link})`).slice(0,10);\nreturn [{json:{prompt:`Here are today’s AI headlines:\\n${headlines.join('\\n')}\\n\\nPlease summarize into 6–10 bullet points.`}}];"
      },
      "id": "b0b41a75-0bdd-4b87-9833-78f1a936e15c",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        96
      ]
    },
    {
      "parameters": {
        "triggerOn": "cron",
        "cronExpression": "0 20 * * *",
        "timezone": "Europe/London"
      },
      "id": "94b83f66-58fb-4ab0-96c4-0513925806af",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        96
      ]
    },
    {
      "parameters": {
        "url": "https://arstechnica.com/ai/feed",
        "options": {}
      },
      "id": "b94d203e-d3c8-4ff1-b96a-4bc30192275a",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -176,
        -256
      ]
    },
    {
      "parameters": {
        "url": "https://www.wired.com/feed/tag/ai/latest/rss",
        "options": {}
      },
      "id": "16b671fb-e76a-4e59-b5ab-9b4207a4d86b",
      "name": "RSS Read2",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -176,
        96
      ]
    },
    {
      "parameters": {
        "url": "https://venturebeat.com/category/ai/feed/",
        "options": {}
      },
      "id": "31e1f3cd-af77-4e6f-b3b6ecc15520",
      "name": "RSS Read3",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -176,
        288
      ]
    },
    {
      "parameters": {
        "url": "https://www.technologyreview.com/topic/artificial-intelligence/feed/",
        "options": {}
      },
      "id": "4883db2f-f072-4447-a710-20cbf60d1f6b",
      "name": "RSS Read4",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -176,
        480
      ]
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/tag/artificial-intelligence/feed/",
        "options": {}
      },
      "id": "5be5471a-615b-4ab2-8188-387d50fbece9",
      "name": "RSS Read1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -176,
        -64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENAI-BASE-URL + '/openai/deployments/' + $env.OPENAI-DEPLOYMENT + '/chat/completions?api-version=2025-01-01-preview' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api-key",
              "value": "={{ $env.OPENAI-API-KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({messages:[{role:'system',content:'You summarize AI headlines.'},{role:'user',content:$node.Code.json.prompt}]}) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        96
      ],
      "id": "7b7fae19-a6af-42c4-b6bf-7ef9d547d35a",
      "name": "OpenAI Chat Completion"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD-WEBHOOK-URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $node[\"OpenAI Chat Completion\"].json.choices[0].message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        96
      ],
      "id": "2a1be0a1-9b6f-4c59-9d6c-111111111111",
      "name": "Send to Discord"
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read3",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read4",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "RSS Read3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "RSS Read4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI Chat Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Completion": {
      "main": [
        [
          {
            "node": "Send to Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "20250806-fixed",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "hvV0XCKHAUVqy8pF",
  "tags": []
}